* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

button{
  --color-orange: #bc8420;
  --color-black: #2d2d2d;
}


body {
  background-color: #2d2d2d;
}
html {
  font-family: "Roboto Mono", monospace;
}
h1,
h2,
h3,
h4{
  color: #a39e9e;
}

p {
  font-size: 20px;
  color: #bc8420;
}

h1 {
  font-weight: 700;
  font-size: 73px;
  color: #e3e3e3;
}

h2 {
  font-size: 60px;
  font-weight: 600;
}

h3 {
  font-weight: 400;
  font-size: 25px;
}

h4,
button {
  font-size: 17px;
}

.header {
  background-color: #2d2d2d;
  padding: 0 100px;
  width: 100%;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 20%;
  display: flex;
}

.points {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  align-items: center;
}

button {
  width: 140px;
  height: 50px;
  border: 2px solid var(--color-orange);
  border-radius: 10px;
  color:var(--color-orange);
  background-color: var(--color-black);
}

button:hover {
  cursor: pointer;
  background-color: rgb(27, 27, 27);
}

span {
  color: #bc8420;
}

.points h4:hover {
  cursor: pointer;
  color: #bc8420;
}

.greeting {
  padding: 150px 20% 0 15%;
}

.about-me{
    padding: 15% 20% 0;
}

.about-me h4, .experience h4:first-child{
    color: #e3e3e3;
    font-size: 40px;
}

.experience h4{
  color: #e3e3e3;
}


.about-me-text-photo{
    display: flex;
    flex-direction: row;
    align-items:center;
}

.about-me img{
    padding: 0;
    border-radius:50%;
}

.typing {
  width: 18.5ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.experience{
  padding: 15% 30% 0 10%;
}

.work{
  padding: 3% 0;
}

a{
  color:#bc8420;
}

.contacts{
  display: flex;
  flex-direction: column;
  position: fixed;
right: 50px;
    bottom: 1px;
  }

.contacts img{
  width: 30px;
  padding: 7px 0;
}

.contacts img:hover{
  transform:  translate(0, -10px);
  filter: drop-shadow(0 0 3px rgba(214, 146, 20, 0.8));
}

.vl {
  border-left: 3px solid black;
  height: 150px;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background-color: #3b3b3b;
}

body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #a39e9e;
}